@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.interface {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.contador {
    margin-top: 100px;
}
.contador-unidades {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.contador h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.unidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numero{
    font-size: 80px;
    color: #fff;
    font-family: 'Playfair Display', serif;
}
.rotulo{
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 1020px){
    .contador {
        margin-top: 200px;
        padding: 0 20px;
    }
    .contador-unidades{
        gap: 40px;
    }

    .numero {
        font-size: 60px;
    }
    .rotulo {
        font-size: 16px;
    }
    .contador h1 {
        font-size: 28px;
        padding: 0 10px;
    }
}