/* Estiliza a seção principal do formulário */
.formulario {
  padding: 40px 20px; /* Espaçamento interno */
  display: flex; /* Permite alinhar elementos lado a lado ou centralizar */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.formulario .interface {
  max-width: 500px;
}
/* Container interno com largura máxima */
.interface {
  width: 100%; /* Ocupa 100% do espaço disponível */
  display: flex; /* Flexbox ativado */
  flex-direction: column; /* Organiza os elementos em coluna */
  gap: 20px; /* Espaçamento entre os elementos filhos */
}

/* Estiliza o título da confirmação */
.titulo-confirmacao {
  font-family: 'Playfair Display', serif; /* Fonte serifada elegante */
  font-size: 40px; /* Tamanho grande */
  text-align: center; /* Centraliza o texto */
  color: #fff; /* Cor marrom suave */
}

/* Estiliza o texto de introdução */
.interface p {
  text-align: center; /* Centraliza o parágrafo */
  font-size: 30px; /* Tamanho padrão */
  color: #fff; /* Cor de texto escura */
  margin-bottom: 10px; /* Espaço abaixo do parágrafo */
}

/* Estilização do formulário */
form {
  display: flex; /* Flexbox para organizar os campos */
  flex-direction: column; /* Um campo embaixo do outro */
  gap: 15px; /* Espaço entre os campos */
  margin-top: 50px;
}
p.faca-confirme{
  margin-top: 50px;
}

/* Estiliza todos os inputs e selects do formulário */
form input,
form select {
  padding: 10px; /* Espaço interno dentro do campo */
  font-size: 16px; /* Tamanho da fonte */
  border: 1px solid #ccc; /* Borda cinza clara */
  border-radius: 6px; /* Cantos arredondados */
}

/* Estiliza o botão de envio do formulário */
button[type="submit"] {
  background-color: #c79c60; /* Cor de fundo dourada */
  color: #fff; /* Cor do texto branca */
  font-size: 18px; /* Tamanho do texto */
  padding: 12px; /* Espaço interno */
  border: none; /* Remove borda */
  border-radius: 6px; /* Cantos arredondados */
  cursor: pointer; /* Mostra mãozinha ao passar por cima */
  transition: 0.2s; /* Animação suave na cor */
}

/* Quando passa o mouse por cima do botão de envio */
button[type="submit"]:hover {
  background-color: #a37845; /* Dourado mais escuro */
}

form .label-acompanhantes,
 .label-evento {
  color: #fff;
  font-size: 24px;
  font-family: 'Playfair Display', serif; /* Fonte serifada elegante */
 }
 .formulario {
  min-height: calc(100vh - 80px); /* 100% da tela menos a altura do header e do footer */
}