.interface p.monograma {
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  color: #fff; /* VERDE CHOCANTE para teste */
  margin-top: 300px;
}


h1.titulo-home{
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding: 0 20px;
    word-break: break-word;
}

p.traco-home{
    width: 200px;
    border-bottom: 5px solid #fff;
}

h2.data-home{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.topo-do-site {
    margin-bottom: 250px;
    padding: 0 20px;
    
}

@media screen and (max-width: 1020px){
    .menuSlidebar{
        display: none;
    }
    .interface{
        flex-direction: column;
        align-items: center;
    }
    h1.titulo-home{
        font-size: 38px;
        margin-top: 200px;
    }
    p.traco-home{
        width: 200px;
    }
    h2.data-home{
        font-size: 32px;
    }
}